
/TestApp/obj
/DAL/DAL/obj
/Candelf/Candelf/obj
/Candelf/Candelf/bin
/Candelf/.vs
/BusinessLayer/BusinessLayer/obj
/BusinessLayer/.vs
/BusinessLayer/BusinessLayer/bin
/DAL/.vs
/DAL/DAL/bin
/TestApp/obj
/DAL/DAL/obj
/DAL/DAL/obj
/TestApp/bin
/TestApp/.vs
/Candelf/Candelf/obj
/Candelf/Candelf/obj
Candelf/Candelf/obj/project.nuget.cache
Candelf/Candelf/obj/project.assets.json
Candelf/Candelf/obj/Candelf.csproj.nuget.g.props
Candelf/Candelf/obj/Candelf.csproj.nuget.dgspec.json
/Candelf/Candelf/obj
Candelf/Candelf/obj/project.nuget.cache
Candelf/Candelf/obj/project.assets.json
Candelf/Candelf/obj/Candelf.csproj.nuget.g.props
Candelf/Candelf/obj/Candelf.csproj.nuget.dgspec.json
