
/TestApp/obj
/DAL/DAL/obj
/Candelf/Candelf/obj
/Candelf/Candelf/bin
/Candelf/.vs
/BusinessLayer/BusinessLayer/obj
/BusinessLayer/.vs
/BusinessLayer/BusinessLayer/bin
/DAL/.vs
/DAL/DAL/bin
/TestApp/obj
/DAL/DAL/obj
/DAL/DAL/obj
/TestApp/bin
/TestApp/.vs
/ServiceLayer/.vs
/ServiceLayer/ServiceLayer/obj
/BusinessLayer/BusinessLayer/obj
/Candelf/Candelf/obj
/Candelf/Candelf/obj
